<!DOCTYPE html>
<html>
{% load static %}
<head>
<title> Birthaday </title>
<style>
*{
	box-size:border-box;
}


nav{
	background:black;
	width:100%;
	overflow:auto;
}
ul{
	margin: 0;
	padding: 0;
	list-style:1px;
}



nav a{
	width:57vw;
	display:block;
	text-decoration:none;
	text-align:center;
	font-size:17px;
	font-weight:bold;
	letter-spacing: 1vw;
	color:red;
	margin: 7px 0px 15px 15vw;
	padding: 12px 0px 10px 2vw;
	font-family:Arial;
}
.container{
	max-width:1000px
	margin:auto;
	background:#f2f2f2;
	overflow:auto;
	
}
.gallary{
	margin:0px;
	border:1px solid #ccc;
	float:left;
	width: 33.3vw;

	
}
.gallary img{
	width:90%;
		height:auto;
}
.desc{
	padding:-22px;
	text-align:center;
}
footer{
	padding:15px;
	font-size:27px;
	font-weight:bold;
	text-align:center;
	background:#594848;
	color:white;
	font-family:Arial;
	letter-spacing:1px;
}


* {
  box-sizing: border-box;
}

.row {
  display: flex;
}

/* Create three equal columns that sits next to each other */
.column {
  flex: 53.33%;
  padding: 10px;
}


</style>

</head>
<body style="background-color: 
">
<nav>
	<ul>
		<li><a href ="web1.html" title="home page">HAPPY BIRTHDAY SASMIN AKSHARA</a></li>
		
		
	</ul>
</nav>



<h2> click the link</h2>


<h3 style="color:Tomato;"><a href ="https://www.youtube.com/watch?v=fMq4QeY9z0w">SASMIN AKSHARA மஞ்சள் நீராட்டு விழா Video</a>
</h3>


<div class="row">
  <div class="column">
  	<a target="_blank" href="{% static 'img/1.jpg'%}">
    <img src="{% static 'img/1.jpg'%}" alt="Snow" style="width:100%">
</a>

  </div>
  <div class="column">
  	<a target="_blank" href="{% static 'img/2.jpg'%}">
    <img src="{% static 'img/2.jpg'%}" alt="Forest" style="width:100%">
  </div>
  <div class="column">
  	<a target="_blank" href="{% static 'img/3.jpg'%}">
    <img src="{% static 'img/3.jpg'%}" alt="Mountains" style="width:100%">
  </div>
  <div class="column">
  	<a target="_blank" href="{% static 'img/4.jpg'%}">
    <img src="{% static 'img/4.jpg'%}" alt="Snow" style="width:100%">
  </div>
  <div class="column">
  	<a target="_blank" href="{% static 'img/5.jpg'%}">
    <img src="{% static 'img/5.jpg'%}" alt="Forest" style="width:100%">
  </div>
  <div class="column">
  	<a target="_blank" href="{% static 'img/6.jpg'%}">
    <img src="{% static 'img/6.jpg'%}" alt="Mountains" style="width:100%">
  </div>
</div>





<div class="row">
  <div class="column">
  	<a target="_blank" href="{% static 'img/7.jpg'%}">
    <img src="{% static 'img/7.jpg'%}" alt="Snow" style="width:100%">
  </div>
  <div class="column">
  	<a target="_blank" href="{% static 'img/8.jpg'%}">
    <img src="{% static 'img/8.jpg'%}" alt="Forest" style="width:100%">
  </div>
  <div class="column">
  	<a target="_blank" href="{% static 'img/11.jpg'%}">
    <img src="{% static 'img/11.jpg'%}" alt="Mountains" style="width:100%">
  </div>
  <div class="column">
  	<a target="_blank" href="{% static 'img/12.jpg'%}">
    <img src="{% static 'img/12.jpg'%}" alt="Snow" style="width:100%">
  </div>
  <div class="column">
  	<a target="_blank" href="{% static 'img/13.jpg'%}">
    <img src="{% static 'img/13.jpg'%}" alt="Forest" style="width:100%">
  </div>
  <div class="column">
  	<a target="_blank" href="{% static 'img/14.jpg'%}">
    <img src="{% static 'img/14.jpg'%}" alt="Mountains" style="width:100%">
  </div>
</div>


<div class="video">
	 <video controls height="400" width="460">
	<source src="{% static 'img/40.mp4'%}"></source>

</video>
</div>



</div>

<div class="row">
  <div class="column">
  	<a target="_blank" href="{% static 'img/15.jpg'%}">
    <img src="{% static 'img/15.jpg'%}" alt="Snow" style="width:100%">
  </div>
  <div class="column">
  	<a target="_blank" href="{% static 'img/16.jpg'%}">
    <img src="{% static 'img/16.jpg'%}" alt="Forest" style="width:100%">
  </div>
  <div class="column">
  	<a target="_blank" href="{% static 'img/21.jpg'%}">
    <img src="{% static 'img/21.jpg'%}" alt="Mountains" style="width:100%">
  </div>
  <div class="column">
  	<a target="_blank" href="{% static 'img/22.jpg'%}">
    <img src="{% static 'img/22.jpg'%}" alt="Snow" style="width:100%">
  </div>
  <div class="column">
  	<a target="_blank" href="{% static 'img/23.jpg'%}">
    <img src="{% static 'img/23.jpg'%}" alt="Forest" style="width:100%">
  </div>
  <div class="column">
  	<a target="_blank" href="{% static 'img/24.jpg'%}">
    <img src="{% static 'img/24.jpg'%}" alt="Mountains" style="width:100%">
  </div>
</div>


<div class="video">
	 <video controls height="400" width="460">
	<source src="{% static 'img/41.mp4'%}"></source>

</video>
</div>



<div class="row">
  <div class="column">
  	<a target="_blank" href="{% static 'img/25.jpg'%}">
    <img src="{% static 'img/25.jpg'%}" alt="Snow" style="width:100%">
  </div>
  <div class="column">
  	<a target="_blank" href="{% static 'img/26.jpg'%}">
    <img src="{% static 'img/26.jpg'%}" alt="Forest" style="width:100%">
  </div>
  <div class="column">
  	<a target="_blank" href="{% static 'img/27.jpg'%}">
    <img src="{% static 'img/27.jpg'%}" alt="Mountains" style="width:100%">
  </div>
  <div class="column">
  	<a target="_blank" href="{% static 'img/28.jpg'%}">
    <img src="{% static 'img/28.jpg'%}" alt="Snow" style="width:100%">
  </div>
  <div class="column">
  	<a target="_blank" href="{% static 'img/29.jpg'%}">
    <img src="{% static 'img/29.jpg'%}" alt="Forest" style="width:100%">
  </div>
  <div class="column">
  	<a target="_blank" href="{% static 'img/30.jpg'%}">
    <img src="{% static 'img/30.jpg'%}" alt="Mountains" style="width:100%">
  </div>
</div>


<div class="video">
	 <video controls height="400" width="460">
	<source src="{% static 'img/42.mp4'%}"></source>

</video>
</div>




</div>

<div class="row">
  <div class="column">
  	<a target="_blank" href="{% static 'img/31.jpg'%}">
    <img src="{% static 'img/8.jpg'%}" alt="Snow" style="width:100%">
  </div>
  <div class="column">
  	<a target="_blank" href="{% static 'img/32.jpg'%}">
    <img src="{% static 'img/32.jpg'%}" alt="Forest" style="width:100%">
  </div>
  <div class="column">
  	<a target="_blank" href="{% static 'img/33.jpg'%}">
    <img src="{% static 'img/33.jpg'%}" alt="Mountains" style="width:100%">
  </div>
  <div class="column">
  	<a target="_blank" href="{% static 'img/20.jpg'%}">
    <img src="{% static 'img/22.jpg'%}" alt="Snow" style="width:100%">
  </div>
  <div class="column">
  	<a target="_blank" href="{% static 'img/35.jpg'%}">
    <img src="{% static 'img/35.jpg'%}" alt="Forest" style="width:100%">
  </div>
  <div class="column">
  	<a target="_blank" href="{% static 'img/11.jpg'%}">
    <img src="{% static 'img/11.jpg'%}" alt="Mountains" style="width:100%">
  </div>
</div>

<div class="video">
	 <video controls height="400" width="460">
	<source src="{% static 'img/43.mp4'%}"></source>

</video>
</div>


<div class="video">
	 <video controls height="400" width="460">
	<source src="{% static 'img/44.mp4'%}"></source>

</video>
</div>

<div class="video">
	 <video controls height="400" width="460">
	<source src="{% static 'img/45.mp4'%}"></source>

</video>
</div>

<div class="video">
	 <video controls height="400" width="460">
	<source src="{% static 'img/46.mp4'%}"></source>

</video>
</div>






<footer>
THANK YOU
</footer>
</body>
</html>